@import "styles";

.App {
  text-align: center;
  color: $primary-color;
  height: 100%;
  background: url(./Assets/images/white-fabric-texture.jpeg), no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Homepage {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  &__cards {
    width: 100%;
    margin: 3em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    &__images {
      width: 30%;
      margin: 2em auto;
      overflow: hidden;
      filter: $filter;
      &:hover {
        opacity: 0.8;
      }
      &__image {
        object-fit: contain;
        max-width: 450px;
      }
    }
  }
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__logo {
    font-size: 5em;
  }
  &__navigation {
    display: flex;
    flex-direction: row;
    width: 50%;
    text-align: center;
    align-self: center;
    justify-content: space-around;

    &__item {
      font-size: 1.3em;
      text-decoration: none;
      color: $primary-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.Article {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &__container {
    width: 90%;
    margin: 3em auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    &__button {
      max-width: fit-content;
      text-align: left;
      margin: 1em 2em 0;
      text-decoration: none;
      color: $primary-color;
    }
    &__desc {
      width: 40%;
      margin: auto;
      text-align: center;
      justify-self: center;
      &__title {
        font-size: 2em;
      }
      &__text {
        font-style: italic;
      }
    }
    &__img {
      width: 60%;
      height: auto;
      filter: $filter;
    }
  }
}

.About {
  min-height: 100vh;
  &__container {
    width: 90%;
    margin: 2em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__desc {
      width: 45%;
      margin: auto;
      justify-self: center;
      text-align: center;
      &__title {
        font-size: 5em;
      }
      &__text {
        width: 100%;
        margin: auto;
        text-align: justify;
        line-height: 2em;
        font-size: 1.5em;
      }
      &__socialMedia {
        display: flex;
        justify-content: right;
        margin: 1em auto;
        &__link {
          margin: 0 2em;
          color: $primary-color;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    &__img {
      width: 50%;
      border-radius: 40%;
      filter: $filter;
    }
  }
}

.Contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &__desc {
    font-size: 1.5em;
    width: 90%;
    margin: 2em auto 0;
  }
  &__containerForm {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &__img {
      filter: $filter;
    }
    &__form {
      width: 30%;
      margin: auto;
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-self: baseline;
      justify-content: center;
      text-align: center;
      &__input,
      &__textarea,
      &__button {
        border: 1px $primary-color solid;
        border-bottom: none;
        background-color: $lightColor;
        min-height: 1rem;
        padding: 1em;
        font-size: 1em;
        font-weight: bold;
        color: $primary-color;
        &:hover {
          background-color: $normalColor;
        }
      }
      &__textarea {
        min-height: 20em;
      }
      &__button {
        border-bottom: 1px $primary-color solid;
      }
    }
  }
}

.Footer {
  width: 100%;
  margin: 0 auto;
}

#App {
  display: none;
}

/* Responsive */

@media (max-width: 850px) {
  /* Menu sidebar  */

  .disabled {
    display: none;
  }

  #App {
    display: flex;
  }

  .bm-item {
    display: inline-block;

    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: $normalColor;
    transition: color 0.2s;
  }

  .bm-item:hover {
    color: $lightColor;
  }

  .bm-burger-button {
    position: fixed;
    width: 25px;
    height: 20px;
    right: 15px;
    top: 15px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: $primary-color;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: $normalColor;
  }

  /* General sidebar styles */
  .bm-menu {
    background-color: $primary-color;
    padding: 2.5em 1.5em 0;
    font-size: 1.7em;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: $primary-color;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: $normalColor;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  /* Home page*/
  .Homepage__cards {
    flex-direction: column;
    &__images {
      width: 90%;
    }
  }

  /* Article */
  .Article__container {
    flex-direction: column;
    &__button {
      margin: 1em 1em 0;
    }
    &__img {
      width: 100%;
    }
  }

  /* A propos */
  .About__container {
    flex-direction: column;
    &__desc {
      width: 100%;
      margin-bottom: 2em;
    }
    &__img {
      width: 100%;
    }
  }

  /* Contact */
  .Contact__containerForm {
    flex-direction: column;
    margin: 2em auto;
    &__form {
      width: 100%;
      margin: 2em auto;
    }
  }
}
