@import "styles";

.App {
  text-align: center;
  color: $primary-color;
  height: 100%;
  background: url(./Assets/images/white-fabric-texture.jpeg), no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Homepage {
  width: 100%;
  margin: auto;
  &__cards {
    width: 100%;
    margin: 3em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    &__images {
      width: 30%;
      margin: 2em auto;
      overflow: hidden;
      &:hover {
        opacity: 0.8;
      }
      &__image {
        object-fit: contain;
        max-width: 450px;
      }
    }
  }
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__logo {
    font-size: 5em;
  }
  &__navigation {
    display: flex;
    flex-direction: row;
    width: 50%;
    text-align: center;
    align-self: center;
    justify-content: space-around;

    &__item {
      font-size: 1.3em;
      text-decoration: none;
      color: $primary-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.Article {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &__container {
    width: 90%;
    margin: 3em auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    &__button {
      max-width: fit-content;
      text-align: left;
      margin: 1em 2em 0;
      text-decoration: none;
      color: $primary-color;
    }
    &__desc {
      width: 40%;
      margin: auto;
      text-align: center;
      justify-self: center;
      &__title {
        font-size: 2em;
      }
      &__text {
        font-style: italic;
      }
    }
    &__img {
      width: 60%;
      height: auto;
    }
  }
}

.About {
  min-height: 100vh;
  &__container {
    width: 90%;
    margin: 2em auto;
    display: flex;
    flex-direction: row;
    &__desc {
      width: 50%;
      margin: auto;
      justify-self: center;
      text-align: center;
      &__title {
        font-size: 5em;
      }
      &__text {
        width: 90%;
        text-align: justify;
        line-height: 2em;
        font-size: 1.5em;
      }
      &__socialMedia {
        display: flex;
        justify-content: right;
        &__link {
          margin: 0 2em;
          color: $primary-color;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    &__img {
      width: 50%;
      border-radius: 40%;
    }
  }
}

.Footer {
  width: 100%;
  margin: 0 auto;
}
